#advertisement{
    float: right;
    height: 99vh;
    width: 10%;
    background-color: orchid;
    border-style: solid;
}
#output{
    height: 50vh;
    border-style:solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/*  */
img{
    height: 200px;
    width: auto;
}
div{
    display: flex;
    justify-content: center;
    border-style: solid;
    position: relative;
    height: 200px;
    margin: 10px;
}
.top{
    margin: 0;
    position: absolute;
    top:0;
    color: white;
    border-style: solid;
    word-break: break-all;
}
.bottom{
    margin: 0;
    position: absolute;
    bottom: 0;
    color:white;
    border-style: solid;
    word-break: break-all;
}
.delete{
    margin: 0;
    position: absolute;
    top: 0;
    right:0
}

/* Increased functionality
1. General formatting:
a. Centered Text
b. Paired Fonts
c. Top Colors
d. Output container border
2. Heading add Changing color graphic
3. Advertisment Add Expand Contracting Text Animation.
 */
