*{
    font-family: Verdana,sans-serif;
}
h1{
    font-family: Georgia, serif;
}
#advertisement{
    float: right;
    height: 99vh;
    width: 10%;
    background-color: orchid;
    border-style: solid;
    display: flex;
    align-items: center;
}
span p{
    transform: rotate(-90deg);
    font-size: 20px;
    animation-duration:3s;
    animation-name: glow;
    animation-iteration-count: infinite;
}
#output{
    height: 50vh;
    border-style:solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
@keyframes glow {
    0%,100%{
        text-shadow: none;
    }
    50%{
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }

}
/*  */
img{
    height: 350px;
    width: auto;
}
div{
    display: flex;
    justify-content: center;
    border-style: solid;
    position: relative;
    height: 350px;
    margin: 10px;
}
.top{
    margin: 0;
    position: absolute;
    top:0;
    color: white;
    border-style: solid;
    word-break: break-all;
}
.bottom{
    margin: 0;
    position: absolute;
    bottom: 0;
    color:white;
    border-style: solid;
    word-break: break-all;
}
.delete{
    margin: 0;
    position: absolute;
    top: 0;
    right:0
}

/* Increased functionality
1. General formatting:
a. Centered Text
b. Paired Fonts
c. Top Colors
d. Output container border
2. Heading add Changing color graphic
3. Advertisment Add Expand Contracting Text Animation.
 */
