*{
    font-family: Verdana,sans-serif;
    margin: 0;
}
header{
    background-color: #E01C49;
}
header h1{
    color: #E6F240;
}
header h2{
    color: #0A370A;
}
main{
    background-color: #F9FBE7;
    padding: 20px;
}
h1, h2{
    margin-top: 5px;
    text-align: center;
    font-family: Georgia, serif;
}
main + h3{
    background-color: #E01C49;
    color: #E6F240;
    text-align: center;
    padding: 5px;
}
#advertisement{
    float: right;
    height: 99vh;
    width: 10%;
    background-color: rgb(218, 112, 214) ;
    border-style: solid;
    display: flex;
    align-items: center;
}
span p{
    transform: rotate(-90deg);
    font-size: 20px;
    animation-duration:6s;
    animation-name: glow;
    animation-iteration-count: infinite;
}
#output{
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
@keyframes glow {
    0%,100%{
        text-shadow: none;
        font-size: 10px;
        color: orchid;
    }
    66%{
        color: white;
        text-shadow: 5px 5px 8px #000000;
        font-size: 25px;
    }

}
/*  */
img{
    height: 350px;
    width: auto;
}

div{
    display: flex;
    justify-content: center;
    border-style: solid;
    position: relative;
    height: 350px;
    margin: 10px;
}
.top{
    font-family: Impact, sans-serif;
    margin: 0;
    position: absolute;
    top:0;
    color: white;
    word-break: break-all;
    margin-top: 5px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.bottom{
    font-family: Impact, sans-serif;
    margin: 0;
    position: absolute;
    bottom: 0;
    color:white;
    word-break: break-all;
    margin-bottom: 5px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.delete{
    margin: 0;
    position: absolute;
    top: 0;
    right:0;
    z-index: 5;
}

/* Increased functionality
1. General formatting:
a. Centered Text
b. Paired Fonts
c. Top Colors
d. Output container border
2. Heading add Changing color graphic
3. Advertisment Add Expand Contracting Text Animation.
 */
